<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Create Filmmaker Profile</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/item.css" rel="stylesheet">
    <link href="css/item1.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    
    <!-- Page Content -->
    <div class="container search after_login">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12 search-heading">
                
                    <div class="col-md-3">
                        <a href="index.html"><img src="img/logo.jpg" width="69%"></a>
                        </div>
                <div class="col-md-6">
                    <h1>Create Filmmaker Profile</h1>
                </div>
                
                    
        </div>
       

        <!-- Related Projects Row -->
        
        <div class="col-lg-12 login3 login3_1">
            
            <form name="filmmaker" action="addMaker.jsp" method="get">
                <div class="col-md-8">
               
                     
                  <div class="form-group">
                    <label for="inputName" class="control-label">Name of Filmmaker</label>
                    <input type="text" class="form-control" name="name" value='<%request.getParameter("user")' readonly >
                  </div>
                
                
                <div class="form-group">
                    <label for="inputName" class="control-label">Bio</label>
                    <textarea class="form-control big-ip" name="bio" ></textarea>
                  </div>
                
                
                    
                
                
                  
                  
                </div>
                <div class="col-md-4 right-class">
                    <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
                </form>
            
            </div>
        <!-- /.row -->

        
        </div>
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
    
    <script>
        $('form input').on('keypress', function(e) {
            return e.which !== 13;
        });
        
        
        
        
    </script>
    
  

</body>

</html>
