.login1{
    height: 450px;
    padding: 10%;
    background-image: url(../img/fm_login.jpg);
    background-size: cover;
    background-position: center;
}
.login2{
    height: auto;
    padding: 10%;
    background-image: url(../img/filmmaker.jpg);
    background-size: cover;
    background-position:bottom;
    padding-top: 30%
}

.login1 button{
    margin-top: 40px;
    margin-left: 30%;
    border-radius: 0px;
    width: 30%;
}
.heading1{
    color: black;
    
}
.login2 .btns{
    text-align: center;
}
.login2 .btn{
    width: 50%;
    height: 100px;
}
.login3{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    color: black;
    
}
.login3 input{
    border-radius: 0px;
}
.login3 .big-ip{
    height: 100px;
}
.login3 .right-class{
    padding-top: 30%;
    text-align: center;
}
.login3 .btn{
    border: 1px solid #ccc;
    border-radius: 0px;
    height: 50px;
    width: 150px;
}
.login3_1 .form-inline input{
    width: 100%;
}
.search-heading h1{
    color: black;
    font-family: fantasy;
    text-align: center;
}


