.login4{
    height: 700px;
    padding: 5%;
    background-size: cover;
    background-position:bottom;
    color: black;
    
}

.right{    
    background-color: #339999;
}
.left{
    background-color: #6666CC;
}
.right img{
    margin: 5px;
}
