/*!
 * Start Bootstrap - Portfolio Item (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    
    background-color: black;
    color: white;
    
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}

.container{
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.item{
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.home-search{
    padding: 20px;
    background-color: #ff8300;
    text-align: center;
    margin-bottom: 20px;
}
.home-search-input{
    margin: 5%;
    border: 10px solid #000;
    width: 90%;
}
.home-search-button{
    width: 40%;
    border-radius: 0px;
}
.home-searchinp{
    margin-top: 40px;
}
.home-qna{
    background-color: #EDB218;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}
.search-heading{
    background-color: #EDB218;
    padding: 50px;
    
}
.srch{
    width: 100%;
    margin: 0px;
    margin-top: 35px;
}
.search-info{
    text-align: center;
    color: black;
}
.search-info span{
    text-decoration: underline;
    color: blueviolet;
}
.search-row{
    padding-top: 30px;
    background-color:darkcyan;
}
.film{
    color: black;
}
.film-frame{
    position:absolute;
   
    
}
.film-banner{
    height: 350px;
    text-align: center;
    
}

.film-search{
    padding-top: 50px;
}
.film-review{
    margin:15px;
    padding: 15px;
    text-align: center;
    background-color: antiquewhite;
    color: black;
    border-radius: 20px;
}
.film-review > hr{
    border-color: black;
}
.film-review > span{
    font-style: italic;
    color: blueviolet
}
.film-cc{
    background-color: bisque;
    color: black;
    margin-bottom: 10px;
    padding:1em;
}
.film-syn{
    background-color: #FF8A65;
    color: black;
    margin-bottom:10px;
    padding:1em;
}
.film-dir{
    background-color: bisque;
    color: black;
    margin-bottom: 10px;
    padding:1em;
}
.film-cc > hr{
    border-color: black;
}
